<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drawflow | Simple Flow program libray</title>
    <meta name="description"
        content="Simple library for flow programming. Drawflow allows you to create data flows easily and quickly.">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow@0.0.48/dist/drawflow.min.css">
    <link rel="stylesheet" type="text/css" href="beautiful.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>



    <header>
        <h2>Drawflow</h2>
    </header>
    <div class="wrapper">
        <div class="col">
            <div id="flow-list" class="col-half">
                <div id="flow-list-header">
                    <span>
                        <span id="flow-expand-btn">▶</span>
                        <span>workflows</span>
                    </span>
                    <span id="flow-add-btn">+</span>
                </div>
                <div id="flow-list-content">
                    <div class="flow-list-item">
                        <span>flow1</span>
                        <span class="flow-list-item-delete">–</span>
                    </div>
                </div>
            </div>
            <div id="node-list" class="col-half">
                <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="start">
                    <i class="fab fa-facebook"></i><span>开始</span>
                </div>
                <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="end">
                    <i class="fab fa-slack"></i><span> 结束</span>
                </div>

                <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="test">
                    <i class="fab fa-aws"></i><span> test</span>
                </div>

            </div>


        </div>
        <div class="col-right">
            <div class="menu">
                <ul>
                    <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Home</li>

                </ul>
            </div>
            <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">

                <div class="btn-export">Export</div>
                <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
                <div class="btn-lock">
                    <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
                    <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');"
                        style="display:none;"></i>
                </div>
                <div class="bar-zoom">
                    <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
                    <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
                    <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div class="toggle-btn" id="sidebar-toggle-btn" onclick="hideSidebar()">☰</div>
        <h2 id="flowName">工作流的名称</h2>

        <div id="args">

            <div id="args-input">
                <h2 class="io-class">输入</h2>
                <hr>
                <div class="args-input-content">
                    <span class="args-input-item">
                        <label class="args-input-key">key</label>
                        <input type="text" id="args-input" name="input" placeholder="{{value}}表示变量"></input>
                    </span>
                </div>
                <hr>
            </div>

            <div id="args-output">
                <h2 class="io-class">输出</h2>
                <hr>
                <div id="args-output-container"></div>
                <hr>
            </div>
        </div>
        <!-- Add more tools and options here -->
    </div>

    <script src="drawflow.mjs"></script>
</body>

</html>